.item {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 100%;
  background-color: rgb(228, 224, 233);
  text-align: center;
  color: aliceblue;
  transition: 0.8s;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.item:hover .layer {
  top: 0;
  overflow: hidden;
}
